.navbar{
    max-width: 1500px;
    height: 70px;
    background-color: #D7BDE2;
    padding: 30px 0 20px 450px;
}
.navbarli{
    display: inline-block;
    margin-right: 50px;
    color: #7FFFD4;
   
}
.navbarli a {
    color: #7D3C98;
}
.navbarli a{
    color: #7D3C98;
    transition-property: font-size, background-color;
    transition-duration: 1s;
    transition-delay: 0.4s;
   
}
.navbarli a:hover {
    color: #7D3C98;
    font-size:22px;
    background-color: #F5EEF8; 

}
.container{
    max-width: 1500px;
    position: relative;
}
.box {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position:absolute;
    animation-name: box;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
.box1 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position:absolute;
    animation-name: boxOne;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
.box2{
    width:690px;
    width: 100%;
    height: 270px;
    position: absolute;
    animation-name: boxTwo;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.box3{
    max-width:690px;
    width: 100%;
    height: 270px;
    position: absolute;
    animation-name: boxThree;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.box4 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:absolute;
    animation-name: boxFour;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.box5 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:absolute;
    animation-name: boxFive;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h2{
    position: absolute;
    font-size: 80px;
    color: #4B0082;
    left: 500px;
    top: 400px;
    animation-name: title;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}
.bouncer1{
    width: 2px;
    height: 100px;
    background-color: #9FE2BF;
    position: absolute;
    animation-name: bouncer;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    



}
@keyframes box {
    0% {
        left : 0;
        top: 100px;
        background-color: #DC143C;
    }
    20%{
        left: 200px;
        top: 100px;
        background-color: #FF1493;
    }
    40% {
        left: 300px;
        top: 100px;
        background-color: #FF69B4;

    }
    60% {
        left: 350px;
        top: 100px;
        background-color: #FFB6C1;
    }
    80%{
        left: 250px;
        top: 200px;
        background-color: #FFC0CB;
    }
    100% {
        left: 300px;
        top: 200px;
        background-color: #FFE4E1;
    }
}
@keyframes boxOne {
    0% {
        right: 0;
        top: 100px;
        background-color: #DC143C;
    }
    20%{
        right: 200px;
        top: 100px;
        background-color: #FF1493;
    }
    40% {
        right: 300px;
        top: 100px;
        background-color: #FF69B4;

    }
    60% {
        right: 350px;
        top: 100px;
        background-color: #FFB6C1;
    }
    80%{
        right: 250px;
        top: 200px;
        background-color: #FFC0CB;
    }
    100% {
        right: 300px;
        top: 200px;
        background-color: #FFE4E1;
    }
}
@keyframes boxTwo {
    0% {
        width: 100px;
        right: 0;
        top: 300px;
        background-color: #B0E0E6;
    }
    20%{
        width: 200px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    40% {
        width: 300px !important;
        top: 300px;
        background-color: #B0E0E6;

    }
    60% {
        width: 400px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    80%{
        width: 500px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    100% {
        width: 670px !important;
        right: 0px;
        top: 300px;
        background-color: #B0E0E6;
    }
}
@keyframes boxThree {
    0% {
        width: 100px;
        left: 0;
        top: 300px;
        background-color: #B0E0E6;
    }
    20%{
        width: 200px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    40% {
        width: 300px !important;
        top: 300px;
        background-color: #B0E0E6;

    }
    60% {
        width: 400px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    80%{
        width: 500px !important;
        top: 300px;
        background-color: #B0E0E6;
    }
    100% {
        width: 670px !important;
        left: 0px;
        top: 300px;
        background-color: #B0E0E6;
    }
}
@keyframes boxFour {
    0% {
        left : 0;
        top: 200px;
        background-color: #F4A460;
    }
    20%{
        left: 200px;
        top: 200px;
        background-color: #FFDEAD;
    }
    40% {
        left: 300px;
        top: 200px;
        background-color: #FFE4B5;

    }
    60% {
        left: 380px ;
        top: 200px;
        background-color: #FFFACD;
    }
    80%{
        left: 500px ;
        top: 100px;
        background-color: #FFDAB9;
    }
    100% {
        left: 630px ;
        top: 100px;
        background-color: #FFEFD5;
    }
}
@keyframes boxFive {
    0% {
        right: 0;
        top: 200px;
        background-color: #F4A460;
    }
    20%{
        right: 200px;
        top: 200px;
        background-color: #FFDEAD;
    }
    40% {
        right: 300px;
        top: 200px;
        background-color: #FFE4B5;

    }
    60% {
        right: 380px;
        top: 200px;
        background-color: #FFFACD;
    }
    80%{
        right: 500px;
        top: 100px;
        background-color: #FFDAB9;
    }
    100% {
        right: 630px;
        top: 100px;
        background-color: #FFEFD5;
    }
}
@keyframes title {
    0% { 
        font-size: 80px;
        color: #4B0082;
    }
    100%{
        font-size: 80px;
        color: #4B0082;

    }
}
@keyframes bouncer{
    0%{ 
        height: 3px;
        width: 10px;
        left: 110px;
        top: 170px;
        background-color: #9FE2BF;
    }
    100%{
        height: 3px;
        width: 1100px;
        left: 110px;
        top: 170px;
        background-color: #9FE2BF;
    }
}